<%- include("includes/head.ejs", { currUser: currUser }) %>
    <form class=" main-container">
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white ">
            <table class="border border-black border-solid w-80 h-full text-2xl">
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Score</th>
                </tr>
                <% for (let user of sortedArray) { %>
                    <tr class="text-center">
                        <td><%= count++ %></td>
                        <td><%= user.username %></td>
                        <td><%= user.highscore %></td>
                    </tr>
                    <h1></h1>
                <% } %>
            </table>
        </div>
    </form>
    <%- include("includes/foot.ejs"); %>